<header>
  <div class="headerLeft">
    <a href="/"><button type="button">Relystore</button></a> 
  </div>
  <div class="headerRight">    
    <div class="links">
      <% if (loggedIn) { %>
        <div class="user">Logged in as: <%= user.username %></div>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Log In</a>
      <% } %>
    </div>
  </div>
</header>