<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create folder</title>
</head>
<body>
  <form action="/createFolder" method="post">
    <label for="folderName">Folder name:  </label>
    <input type="text" name="folderName" id="folderName">
    <button type="submit">Create Folder</button>
  </form>
</body>
</html>