<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relyful</title>
</head>
<body>
  <h1>Hello World <% if (locals.user) { %>
    <%= locals.user.username %>
  <% } %></h1>
  <div class="links">
    <a href="/register">Register</a>
    <a href="/login">Log In</a>
    <a href="/logout">Logout</a>
    <a href="/upload">Upload</a>
  </div>
</body>
</html>