<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Relyful</title>
</head>
<body>
  <%- include('partials/header') %>
  <!-- <div class="links">
    <a href="/register">Register</a>
    <a href="/login">Log In</a>
    <a href="/logout">Logout</a>
    <a href="/viewFiles">View Files</a>
    <a href="/upload">Upload</a>
    <a href="/createFolder">Create Folder</a>
  </div> -->
  <main>
    <div class="centerDiv">
      <h2>Welcome to Relystore!<br>
        Most reliable storage solution.
      </h2>

      <!-- ADD SIGNED IN BUTTONS -->
      <h4>Sign up or sign in to continue.</h4>
      <div class="centerButtons">
        <a href="/register"><button type="button">Sign up!</button></a>
        <a href="/login"><button type="button">Sign in!</button></a>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>
</html>