<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Relyful</title>
</head>
<body>
  <%- include('partials/header') %>
  <main class="mainCenter">
    <div class="centerDiv">
      <h2>Welcome to Relystore!<br>
        Most reliable storage solution.
      </h2>

      <!-- ADD SIGNED IN BUTTONS -->
      <h4>
        <% if (loggedIn) { %>
         Continue to App
        <% } else { %>
         Sign up or sign in to continue.
         <% } %>
      </h4>
      <div class="centerButtons">
        <% if (loggedIn) { %>
          <a href="/viewFiles"><button type="button">View Files</button></a>
          <a href="/upload"><button type="button">Upload File</button></a>
        <% } else { %>
          <a href="/register"><button type="button">Sign up!</button></a>
          <a href="/login"><button type="button">Sign in!</button></a>
        <% } %>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>
</html>