<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Relyful</title>
</head>
<body>
  <%- include('partials/header') %>
  <!-- <div class="links">
    <a href="/register">Register</a>
    <a href="/login">Log In</a>
    <a href="/logout">Logout</a>
    <a href="/viewFiles">View Files</a>
    <a href="/upload">Upload</a>
    <a href="/createFolder">Create Folder</a>
  </div> -->
</body>
</html>