<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload file</title>
</head>
<body>
  <p>Select and upload your file</p>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="myfile" id="myfile">
    <label for="newFileName">File name: </label>
    <input type="text" name="newFileName" id="newFileName">
    <label for="folders">Upload to folder: </label>
    <select name="folders" id="folders">
      <option value="undefined" selected>No Folder</option>
      <% if (locals.folders) { %>
        <% locals.folders.forEach(folder => { %>
         <option value=<%= folder.id %>><%= folder.folderName %></option>
        <% }) %>
      <% } %>
    </select>
    <button type="submit">Upload</button>
  </form>
</body>
</html>